<div class="container mt-5">


  <div class="row mb-4">
    <div class="col-md-12">
      <%= form_with url: items_path, method: :get, local: true do %>
        <div class="input-group">
          <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search for items...' %>
          <button type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
      <% end %>
    </div>
  </div>

  <h2 class="text-center mt-4 mb-4">Featured Listings Go Here</h2>

  <div class="row">
    <% Type.all.each do |type| %>
      <div class="col-md-3 mb-3">
        <div class="card h-100">
          <%# Placeholder for image, replace 'placeholder.jpeg' with actual image path %>
          <%= image_tag 'placeholder.jpeg', class: 'card-img-top', alt: "#{type.name} image" %>
          <div class="card-footer text-left">
            <h5 class="card-title text-left"><%= type.name %></h5>
            <%= link_to "View Items", items_by_type_path(type: type.name), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


