<!-- show.html.erb -->
<% if !current_user %>
  <div class="item-details">
    <div class="image-container">
        <% if @item.image.attached? %>
          <%= image_tag @item.image, class: "item-image" %>
        <% else %>
          <div class="placeholder-image">No Image Available</div>
        <% end %>
    </div>
    <div class="item-info">
      <p>Type: <%= @item.type.name %></p>
      <p>Size: <%= @item.size.name %></p>
      <p>Condition: <%= @item.condition.name %></p>
      <p>Gender: <%= @item.gender.name %></p>
      <p>Color: <%= @item.color.name %></p>
      <p>Description: <%= @item.description %></p>
    </div>
  </div>
  
<% elsif current_user.id == @item.user.id %>
  <div class="item-details">
      <div class="image-container">
            <% if @item.image.attached? %>
              <%= image_tag @item.image, class: "item-image" %>
            <% else %>
              <div class="placeholder-image">No Image Available</div>
            <% end %>
      </div>
    <div class="item-info">
      <p>Type: <%= @item.type.name %></p>
      <p>Size: <%= @item.size.name %></p>
      <p>Condition: <%= @item.condition.name %></p>
      <p>Gender: <%= @item.gender.name %></p>
      <p>Color: <%= @item.color.name %></p>
      <p>Description: <%= @item.description %></p>
      <%= link_to "Edit this item", edit_item_path(@item), class: "btn btn-outline-primary" %>
      <%= button_to "Destroy this item", @item, method: :delete, class: "btn btn-danger btn-sm" %>
    </div>
  </div>
<% else %>
  <div class="item-details">
        <div class="image-container">
            <% if @item.image.attached? %>
              <%= image_tag @item.image, class: "item-image" %>
            <% else %>
              <div class="placeholder-image">No Image Available</div>
            <% end %>
        </div>
    <div class="item-info">
      <p>Type: <%= @item.type.name %></p>
      <p>Size: <%= @item.size.name %></p>
      <p>Condition: <%= @item.condition.name %></p>
      <p>Gender: <%= @item.gender.name %></p>
      <p>Color: <%= @item.color.name %></p>
      <p>Description: <%= @item.description %></p>
    </div>
  </div>
      <div class="donor-info">
        <div class="donor-details">
          <h2 class="donor-title">Donor</h2>
          <p class="donor-name"><%= @item.user.first %> <%= @item.user.last %></p>
        </div>
      

        <%= link_to "Claim", pickup_request_item_path(@item), class: "claim-btn btn-claim" %>
        <%= link_to "Contact Donor", item_chatroom_path(@item), class: "btn btn-outline-primary btn-contact" %>
      </div>
      
<% end %>

<!-- Similar Listings block -->
<div class="similar-listings">
  <h3 class="similar-listings-header">Similar Listings</h3>
</div>
<div class="listings-container">
  <!-- Loop through similar listings and render them -->
  <% if @similar_items.any? %>
    <% @similar_items.each do |similar_item| %>
      <div class="listing-card">
        <div class="card">
          <div class="card-body">
            <%= render similar_item %>
            <p class="card-text">
              <%= link_to "Show this item", similar_item, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No similar items found.</p>
  <% end %>
</div>

